{% extends 'base.html.twig' %}

{% block title %}Complete your Information
{% endblock %}

{% block body %}
<h1>Complete your information</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Apply</button>
		{{ form_end(form) }}
	{% endblock %}
