{% extends 'base.html.twig' %}

{% block body %}
	<div class="green d-flex justify-content-center">THE CONCEPT</div>
	<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{{ asset('build/images/voiture.jpg') }}" class="d-block w-100" width="1280" height="800" alt="voiture">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/utilitaire.png') }}" class="d-block w-100" width="1280" height="800" alt="utilitaire">
			</div>
			<div class="carousel-item">
				<img src="..." class="d-block w-100" alt="...">
			</div>
		</div>
	</div>
	<h2>Register</h2>
	<p>
		<a href="{{ path('app_register_user') }}">User</a>
	</p>
	<p>
		<a href="{{ path('app_register_community') }}">Community</a>
	</p>
{% endblock %}
