@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.container {
    width: auto;
}

.card-body {
    float: right;
    background-color: #3CB371;
    flex-direction: column;
    justify-content: center;
}