<div class="fixed-bottom">
	<div class="container">
		<div class="col- mb-3 mb-0">
			<div class="card">
				<div class="card-body">
					<a>
						<h5 class="card-title d-flex text-danger">Contact</h5>
					</a>
				</div>
				<div class="card-body">
					<a>
						<h5 class="card-title d-flex ">Legal Policies</h5>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
