<div class="sticky-bottom">
	<div class="col-12 mb-3 mb-0">
		<div class="card ">
			<div class="card-body d-flex justify-content-around decoration-none mb-2">
				<a class="card-title d-flex text-light text-decoration-none mb-2 ms-5 footer-size" href="#">
				<img src="{{ asset('build/images/envelope-fill 1.png') }}" alt="Autonoom-logo" width="40" height="40" class="me-3">Contact
				</a>
				<a class="card-title d-flex text-light text-decoration-none mb-2 footer-size" href="#">
				<img src="{{ asset('build/images/briefcase-fill 1.png') }}" alt="Autonoom-logo" width="40" class="me-3" height="40">Legal Policies
				</a>
			</div>
		</div>
	</div>
</div>
