<div class="fixed-bottom">
	<div class="col-12 mb-3 mb-0">
		<div class="card ">
			<div class="card-body d-flex justify-content-around decoration-none mb-2">
				<a class="card-title d-flex text-dark text-decoration-none mb-2" href="#">Contact</a>
				<a class="card-title d-flex text-dark text-decoration-none mb-2" href="#">Legal Policies</a>
			</div>
		</div>
	</div>
</div>
