{% extends 'base.html.twig' %}

{% block title %}Complete your Community Informations
{% endblock %}

{% block body %}
	<h1>Complete your Community Informations</h1>

	{{ form_start(form) }}

	{{ form_widget(form) }}

	<button type="submit">Complete</button>

	{{ form_end(form) }}
{% endblock %}
